<form>
  <h2 class="my-2">Create an account</h2>

  <div class="form-group">
    <label for="email">Email</label>
    <input #email type="email" class="form-control" id="email" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input #username type="text" class="form-control" id="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input #password type="password" class="form-control" id="password" placeholder="Password">
  </div>
  <div class="form-group">
      <label for="password-confirm">Confirm password</label>
      <input #confirmPassword type="password" class="form-control" id="password-confirm" placeholder="Confirm password">
    </div>
  <button type="button" class="btn btn-primary" (click)="submitRegister(email.value, username.value, password.value, confirmPassword.value)">Register</button>

  <div *ngIf="errorMessage" class="alert-danger mt-2">
    {{ errorMessage }}
  </div>

  <div *ngIf="successMessage" class="alert-success mt-2">
      {{ successMessage }}
    </div>
</form>